<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">

        <title>Restaurant Manager</title>

        <!-- Links to style.css no matter position in project -->
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        >
    </head>

    <body>

        <header>
            <h1>Restaurant Manager</h1>
        </header>

        <main>
            <h2>Dashboard</h2>
            <p>Restaurant management system is running.</p>
        </main>
    </body>
</html>